# Load and Store Data in MongoDB

In [34]:
import pandas as pd
from pymongo import MongoClient

In [35]:
# MongoDB connection
client = MongoClient("mongodb+srv://mounika:Mounika123@newdata.to1xh.mongodb.net/?retryWrites=true&w=majority&appName=newdata")
db = client["hotel_data"]

E:\jupyter notebook\Lib\site-packages\pymongo\pyopenssl_context.py:355: CryptographyDeprecationWarning:

Parsed a negative serial number, which is disallowed by RFC 5280. Loading this certificate will cause an exception in the next release of cryptography.

In [36]:
# Load CSV datasets
booking_df = pd.read_excel(r"D:\drive D\INTERNSHIP\AI\Module 4\bookings_data.xlsx")
dining_df = pd.read_excel(r"D:\drive D\INTERNSHIP\AI\Module 4\dining_info.xlsx")
reviews_df = pd.read_excel(r"D:\drive D\INTERNSHIP\AI\Module 4\reviews_data.xlsx")

In [37]:
# Convert DataFrames to JSON
booking_data = booking_df.to_dict(orient="records")
dining_data = dining_df.to_dict(orient="records")
reviews_data = reviews_df.to_dict(orient="records")

In [38]:
# Convert DataFrames to JSON
booking_data = booking_df.to_dict(orient="records")
dining_data = dining_df.to_dict(orient="records")
reviews_data = reviews_df.to_dict(orient="records")

In [39]:
# Insert data into MongoDB collections
db["booking_data"].insert_many(booking_data)
db["dining_info"].insert_many(dining_data)
db["reviews_data"].insert_many(reviews_data)

print("Data successfully loaded into MongoDB!")

Data successfully loaded into MongoDB!

# Read Data from MongoDB into Pandas

In [40]:
# Fetch data from MongoDB
def fetch_data(collection_name):
    collection = db[collection_name]
    return pd.DataFrame(list(collection.find()))

In [41]:
# Load data into Pandas DataFrames
booking_df = fetch_data("booking_data")
dining_df = fetch_data("dining_info")
reviews_df = fetch_data("reviews_data")

In [42]:
# Data Cleaning
def clean_data(df, date_columns=[], numeric_columns=[]):
    df.drop(columns=["_id"], errors="ignore", inplace=True)  # Remove MongoDB ID field
    for col in date_columns:
        df[col] = pd.to_datetime(df[col], errors="coerce")  # Convert to datetime
    for col in numeric_columns:
        df[col] = pd.to_numeric(df[col], errors="coerce")  # Convert to numeric
    df.fillna(method="ffill", inplace=True)  # Handle missing values
    return df

In [43]:
def clean_data(df, date_columns, numeric_columns):
    """Cleans the dataset by handling missing values and converting data types."""
    df[date_columns] = df[date_columns].apply(pd.to_datetime, errors='coerce')  # Convert to datetime
    df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')  # Convert to numeric

    df.ffill(inplace=True)  # Forward fill missing values
    return df

In [44]:
# Clean data
booking_df = clean_data(booking_df, ["check_in_date", "check_out_date"], ["age", "number_of_stayers"])
dining_df = clean_data(dining_df, ["check_in_date", "check_out_date", "order_time"], ["age", "number_of_stayers", "price_for_1", "Qty"])
reviews_df = clean_data(reviews_df, ["review_date"], ["Rating", "sentiment_score"])

print("Data cleaned successfully!")

Data cleaned successfully!

In [45]:
booking_df

,_id,Unnamed: 0,customer_id,Preferred Cusine,age,number_of_stayers,check_in_date,check_out_date,booked_through_points
0,67d2a93e2f4a7e7f4f09cbc7,0,91,South Indian,31,1,2025-03-03,2025-10-03,0
1,67d2a93e2f4a7e7f4f09cbc8,1,92,South Indian,21,2,2025-08-05,2025-10-05,0
2,67d2a93e2f4a7e7f4f09cbc9,2,93,North Indian,48,2,2025-08-05,2025-10-05,1
3,67d2a93e2f4a7e7f4f09cbca,3,94,South Indian,25,3,2025-08-05,2025-03-03,0
4,67d2a93e2f4a7e7f4f09cbcb,4,95,North Indian,22,1,2025-08-04,2025-11-04,0
...,...,...,...,...,...,...,...,...,...
10092,67d2a93e2f4a7e7f4f09f333,9995,23,South Indian,30,1,2024-09-10,2024-10-10,0
10093,67d2a93e2f4a7e7f4f09f334,9996,12,North Indian,35,1,2024-09-10,2024-10-10,0
10094,67d2a93e2f4a7e7f4f09f335,9997,13,South Indian,45,1,2024-09-10,2024-10-10,0
10095,67d2a93e2f4a7e7f4f09f336,9998,3,South Indian,28,3,2023-01-02,2023-06-02,0
10096,67d2a93e2f4a7e7f4f09f337,9999,19,Multi,32,1,2024-07-09,2024-09-09,0

In [46]:
dining_df

,_id,Unnamed: 0,transaction_id,customer_id,Preferred Cusine,age,dish,Qty,price_for_1,number_of_stayers,check_in_date,check_out_date,order_time,booked_through_points
0,67d2a9472f4a7e7f4f09f338,0,3594217,91,South Indian,31,Filter Coffee,2,80,1,2023-08-07,2023-08-10 18:33:11,2023-08-09 03:40:45,0
1,67d2a9472f4a7e7f4f09f339,1,10163344,92,South Indian,21,Chocolate Cake,2,200,2,2023-08-08,2023-08-10 04:10:06,2023-08-08 19:20:37,0
2,67d2a9472f4a7e7f4f09f33a,2,12292432,93,North Indian,48,Breakfast thali,1,500,2,2023-11-15,2023-11-17 08:21:37,2023-11-15 14:01:51,1
3,67d2a9472f4a7e7f4f09f33b,3,13757710,94,South Indian,25,Roti Curry,3,100,3,2024-03-31,2024-04-03 09:35:00,2024-03-31 11:17:37,0
4,67d2a9472f4a7e7f4f09f33c,4,10762656,95,North Indian,22,Filter Coffee,1,80,1,2024-04-08,2024-04-11 02:22:57,2024-04-10 23:00:56,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,67d2a9472f4a7e7f4f0a1a43,9995,6513286,23,South Indian,30,Filter Coffee,1,80,1,2024-10-09,2024-10-10 21:11:26,2024-10-10 16:27:09,0
9996,67d2a9472f4a7e7f4f0a1a44,9996,4578482,12,North Indian,35,Roti Curry,1,100,1,2023-07-20,2023-07-21 12:39:56,2023-07-20 06:28:37,0
9997,67d2a9472f4a7e7f4f0a1a45,9997,1394756,13,South Indian,45,Palak Paneer,2,250,1,2023-07-26,2023-07-29 18:12:23,2023-07-28 03:08:27,0
9998,67d2a9472f4a7e7f4f0a1a46,9998,6277632,3,South Indian,28,Roti Curry,3,100,3,2023-02-01,2023-02-06 07:30:00,2023-02-02 15:28:08,0
9999,67d2a9472f4a7e7f4f0a1a47,9999,11933037,19,Multi,32,Masala Dosa,1,150,1,2024-09-07,2024-09-09 19:30:07,2024-09-09 05:10:01,0

In [47]:
reviews_df

,_id,review_id,customer_id,review_date,Review,Rating,review_date_numeric,Room Number,Currently Staying,currently_staying,sentiment_score
0,67d2a9552f4a7e7f4f0a1a48,11722.0,5380,2024-11-04,The room provided at first was a great disapp...,6.7,2.024110e+07,NaN,NaN,NaN,NaN
1,67d2a9552f4a7e7f4f0a1a49,8604.0,8832,2024-03-01,The room wasn t so large for a Deluxe King bu...,9.6,2.024030e+07,NaN,NaN,NaN,NaN
2,67d2a9552f4a7e7f4f0a1a4a,3923.0,7301,2023-09-04,on arrival we had to wait over an hour after ...,7.1,2.023090e+07,NaN,NaN,NaN,NaN
3,67d2a9552f4a7e7f4f0a1a4b,10050.0,3968,2023-09-02,The room reminded me of a dorm room furnished...,7.9,2.023090e+07,NaN,NaN,NaN,NaN
4,67d2a9552f4a7e7f4f0a1a4c,2077.0,6085,2024-05-17,The room was very small the AC didn t work at...,8.8,2.024052e+07,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8393,67d2a9552f4a7e7f4f0a3b11,165.0,45,2024-10-15,The room was far from clean. The sheets had st...,3.0,1.741413e+09,45.0,Yes,Yes,-0.077778
8394,67d2a9552f4a7e7f4f0a3b12,165.0,45,2024-10-15,.very bad experience,3.0,1.741413e+09,45.0,Yes,Yes,-0.700000
8395,67d2a9552f4a7e7f4f0a3b13,96.0,7665,2024-10-15,not good,3.0,1.741486e+09,45.0,Yes,Yes,-0.350000
8396,67d2a9552f4a7e7f4f0a3b14,96.0,7665,2024-10-15,bad,2.0,1.741486e+09,45.0,Yes,Yes,-0.700000
8397,67d2a9552f4a7e7f4f0a3b15,96.0,7665,2024-10-15,not good,3.0,1.741486e+09,45.0,Yes,Yes,-0.350000

# Build Interactive Dashboards Using Dash & Plotly

# 1) Hotel Booking Dashboard

In [50]:
import dash
from dash import dcc, html
import plotly.express as px

booking_df = pd.DataFrame(list(db["booking_data"].find()))

# Data Cleaning
booking_df.drop(columns=["_id"], errors="ignore", inplace=True)
booking_df["check_in_date"] = pd.to_datetime(booking_df["check_in_date"], errors="coerce")
booking_df["check_out_date"] = pd.to_datetime(booking_df["check_out_date"], errors="coerce")
booking_df["length_of_stay"] = (booking_df["check_out_date"] - booking_df["check_in_date"]).dt.days

# Aggregating Stay Duration
booking_df["week"] = booking_df["check_in_date"].dt.strftime('%Y-%U')
booking_df["month"] = booking_df["check_in_date"].dt.strftime('%Y-%m')
booking_df["year"] = booking_df["check_in_date"].dt.year

weekly_stay = booking_df.groupby("week")["length_of_stay"].mean().reset_index()
monthly_stay = booking_df.groupby("month")["length_of_stay"].mean().reset_index()
yearly_stay = booking_df.groupby("year")["length_of_stay"].mean().reset_index()

# Creating Figures
fig_bookings_trend = px.line(booking_df.groupby("check_in_date").size().reset_index(name="bookings"),
                              x="check_in_date", y="bookings",
                              title="Hotel Bookings Trend Over Time",
                              labels={"check_in_date": "Date", "bookings": "Number of Bookings"},
                              color_discrete_sequence=['#007bff'])

fig_cuisine = px.pie(booking_df, names="Preferred Cusine", title="Preferred Cuisine Analysis",
                      color_discrete_sequence=px.colors.qualitative.Pastel)

fig_weekly_stay = px.line(weekly_stay, x="week", y="length_of_stay", title="Average Length of Stay (Weekly)",
                          color_discrete_sequence=['#28a745'])
fig_monthly_stay = px.line(monthly_stay, x="month", y="length_of_stay", title="Average Length of Stay (Monthly)",
                           color_discrete_sequence=['#dc3545'])
fig_yearly_stay = px.line(yearly_stay, x="year", y="length_of_stay", title="Average Length of Stay (Yearly)",
                          color_discrete_sequence=['#ffc107'])

# Dash App Layout
app = dash.Dash(__name__)
app.layout = html.Div(style={'backgroundColor': 'white', 'padding': '20px'}, children=[
    html.H1("Hotel Booking Insights Dashboard", style={'textAlign': 'center', 'color': '#333'}),
    
    html.H2("Bookings Trend Over Time"),
    dcc.Graph(figure=fig_bookings_trend),
    
    html.H2("Preferred Cuisine Analysis"),
    dcc.Graph(figure=fig_cuisine),
    
    html.H2("Average Length of Stay"),
    dcc.Dropdown(
        id='stay-filter',
        options=[
            {'label': 'Weekly', 'value': 'weekly'},
            {'label': 'Monthly', 'value': 'monthly'},
            {'label': 'Yearly', 'value': 'yearly'}
        ],
        value='weekly',
        clearable=False,
        style={'width': '50%'}
    ),
    dcc.Graph(id='stay-graph'),
])

@app.callback(
    dash.dependencies.Output('stay-graph', 'figure'),
    [dash.dependencies.Input('stay-filter', 'value')]
)
def update_stay_graph(selected_filter):
    if selected_filter == 'weekly':
        return fig_weekly_stay
    elif selected_filter == 'monthly':
        return fig_monthly_stay
    return fig_yearly_stay

if __name__ == "__main__":
    app.run_server(debug=True, port=8060)  # Change the port number

#  Dining Insights Dashboard

In [52]:
dining_df = pd.DataFrame(list(db["dining_info"].find()))

# Data Cleaning
dining_df.drop(columns=["_id"], errors="ignore", inplace=True)
dining_df["order_time"] = pd.to_datetime(dining_df["order_time"], errors="coerce")

# Chart 1: Average Dining Cost by Cuisine
fig1 = px.pie(
    dining_df, names="Preferred Cusine", values="price_for_1",
    title="Average Dining Cost by Cuisine",
    color_discrete_sequence=px.colors.qualitative.Dark24
)

# Chart 2: Customer Count Over Time
dining_df["date"] = dining_df["order_time"].dt.date  # Extract date
customer_count = dining_df.groupby("date")["customer_id"].nunique().reset_index()

fig2 = px.line(
    customer_count, x="date", y="customer_id",
    title="Customer Count Over Time",
    markers=True, line_shape="spline",
    color_discrete_sequence=["#FF5733"]
)

# Chart 3: Top 5 Most Ordered Dishes
top_dishes = dining_df["dish"].value_counts().nlargest(5).reset_index()
top_dishes.columns = ["Dish", "Count"]

fig3 = px.bar(
    top_dishes, x="Dish", y="Count",
    title="Top 5 Most Ordered Dishes",
    color="Dish", color_discrete_sequence=px.colors.sequential.Sunsetdark
)


# Dash App Layout
app = dash.Dash(__name__)

app.layout = html.Div([
    html.H1("Dining Insights Dashboard", style={"textAlign": "center", "color": "#007BFF"}),
    
    html.Div([
        dcc.Graph(figure=fig1),
        dcc.Graph(figure=fig2),
        dcc.Graph(figure=fig3)
    ], style={"display": "grid", "grid-template-columns": "1fr 1fr", "gap": "20px"})
])

# Run the App
if __name__ == "__main__":
    app.run_server(debug=True, port=8060)

# Reviews Analysis Dashboard

In [ ]:
pip install --upgrade cryptography

In [54]:
import dash
from dash import dcc, html
import plotly.express as px
import pandas as pd
import numpy as np
from pymongo import MongoClient
from wordcloud import WordCloud
import base64
from io import BytesIO

# Fetch data from MongoDB
reviews_df = pd.DataFrame(list(db["reviews_data"].find()))

# Data Cleaning
reviews_df.drop(columns=["_id"], errors="ignore", inplace=True)
reviews_df["Rating"] = pd.to_numeric(reviews_df["Rating"], errors="coerce")

# Chart 1: Sentiment Analysis Pie Chart
fig1 = px.pie(
    reviews_df, names="sentiment_score",
    title="Sentiment Analysis of Reviews",
    color_discrete_sequence=px.colors.sequential.Plasma
)

# Chart 2: Rating Distribution Histogram
fig2 = px.histogram(
    reviews_df, x="Rating",
    title="Distribution of Ratings",
    nbins=5, color_discrete_sequence=["#FF8C00"]
)

# Chart 3: Word Cloud for Customer Feedback
text = " ".join(reviews_df["Review"].dropna())
wordcloud = WordCloud(width=800, height=400, background_color="white", colormap="plasma").generate(text)

# Save Word Cloud to Memory
buffer = BytesIO()
wordcloud_img = wordcloud.to_image()
wordcloud_img.save(buffer, format="PNG")
wordcloud_base64 = base64.b64encode(buffer.getvalue()).decode()

# Chart 4: Top 5 Reviewers
top_reviewers = reviews_df["customer_id"].value_counts().nlargest(5).reset_index()
top_reviewers.columns = ["Customer ID", "Review Count"]

fig4 = px.bar(
    top_reviewers, x="Customer ID", y="Review Count",
    title="Top 5 Reviewers",
    color="Customer ID", color_discrete_sequence=px.colors.qualitative.Dark24
)

# Dash App Layout
app = dash.Dash(__name__)
app.layout = html.Div([
    html.H1("Hotel Reviews Analysis", style={"textAlign": "center", "color": "#121212", "backgroundColor": "#FFFFFF", "padding": "15px", "borderRadius": "10px"}),
    html.Div([
        dcc.Graph(figure=fig1, style={"backgroundColor": "#1A1A1D", "borderRadius": "10px"}),
        dcc.Graph(figure=fig2, style={"backgroundColor": "#1A1A1D", "borderRadius": "10px"}),
        dcc.Graph(figure=fig4, style={"backgroundColor": "#1A1A1D", "borderRadius": "10px"})
    ], style={"display": "grid", "grid-template-columns": "1fr 1fr", "gap": "20px", "backgroundColor": "#FFFFFF", "padding": "20px"}),
    html.Div([
        html.H3("Word Cloud of Customer Feedback", style={"textAlign": "center", "color": "#6A0572"}),
        html.Img(src="data:image/png;base64,{}".format(wordcloud_base64), style={"width": "100%", "borderRadius": "10px"})
    ], style={"backgroundColor": "#FFFFFF", "padding": "20px", "borderRadius": "10px"})
])

if __name__ == "__main__":
    app.run_server(debug=True, port=8060)  # Change the port number